body{
    font-family: "Latin Modern Roman", serif;
    text-align: center;
    background-color: #d1ffc8;
}

h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 5em;
}

h1, a {
    text-decoration: none;
    color: black;
}



h2 {
    margin-top: -2%;
    margin-bottom: 5%;
    font-size: 3em;
    font-weight: bold;
}



a:hover {
    color: #003b02;
}


div.content {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2em;
}

img {
    width: 40%;
}