body{
    font-family: "Latin Modern Roman", serif;
    background-color: #daffc2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
    padding: 3%;
    font-size: 2em;
    font-weight: bold;
    
}

.titolo{
    text-decoration: none;
    color: black;
}

.sottotitolo{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
        
}

a:hover{
    color: #003f00;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    gap: 2%;
}


.content {
    text-align: center;
    font-size: 1.5em;
    
}   

.content a{
    text-decoration: none;
    color: black;
}

.content a:hover{
    color: #0b970b;

}



img{
    width: 40%;
    height: auto;
}


